/* Chrono */
.chrono {
    text-align: center;
    margin-top: 50px;
}

/* Grille */
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: gray;
    text-align: center;
    border: 2px solid rgb(32, 26, 26);
    border-radius: 10px;
    padding-bottom: 90px;
}

/* Bouton */
#divBouton{
    width: 100%;
    text-align: center;
}
