body {
    background-attachment: fixed;
    background-image: url('img/humanBg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Indie Flower';
}

.card {
    background-color: grey !important;
    border: solid 2px rgb(32, 26, 26) !important;
}

.img {
    height: 90px;
    width: 90px;
}